---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Home";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="259" alt="RaccoonSpaceGif" src="/space.webp"/>
    </div>
    <h1>Justine Edic</h1>
    <span class="badge">Backend Developer</span>
    
    <h2>About</h2>
    <p>
        Hi, I'm Justine, I specialize in backend development with a proficiency on frontend development.
    </p>
    
    <h2>Projects</h2>
    <ul class="projects">
        <li><strong><a href="https://ncclakbay.itch.io/lakbay-a-heros-journey" target="_blank" rel="noopener noreferrer">Lakbay: A Hero's Journey</a></strong> - Developed and programmed a Filipino-inspired RPG, optimized game mechanics using Unity.</li>
        <li><strong>Promotional Website of Lakbay</strong> - Created a promotional website using HTML, CSS, and JavaScript.</li>
        <li><strong><a href="https://top.gg/bot/733035786664149104" target="_blank" rel="noopener noreferrer">Hyejoo: Kpop Discord Bot</a></strong> - Developed a Kpop-themed gacha Discord bot using Node.js and MongoDB.</li>
        <li><strong><a href="https://juprecruit.cooking/" target="_blank" rel="noopener noreferrer">Jupiter Station Recruitment Website</a></strong> - Full Stack Developer for a proposal website using NextJS and TailwindCSS, with PostgreSQL and Supabase.</li>
        <li><strong>Pasig City Scholarship Website (Xurpas Enterprise)</strong> - Developed backend solutions for a scholarship website.</li>
    </ul>
    
    <h2>Certifications</h2>
    <ul class="projects"> <!-- Added class "projects" for styling consistency -->
        <li><strong><a href="/certifications/lavasoft.pdf" target="_blank" rel="noopener noreferrer">Lavasoft Vulnerability - Sweden, 2014</a></strong></li>
        <li><strong><a href="/certifications/Databases.pdf" target="_blank" rel="noopener noreferrer">Databases Certification  - Certiport, 2022</a></strong></li>
        <li><strong><a href="/certifications/networkingcert.pdf" target="_blank" rel="noopener noreferrer">Networking Certification Cisco, 2022</a></strong></li>
        <li><strong><a href="/certifications/cyberops.pdf" target="_blank" rel="noopener noreferrer">CyberOps Associate Certification - Cisco, 2022</a></strong></li>
        <li><strong><a href="/certifications/Autodesk.pdf" target="_blank" rel="noopener noreferrer">Autodesk Maya - Certiport, 2024</a></strong></li>
    </ul>

    <h2>Work Experiences</h2>
    <ul class="work-experience">
        <li>I worked as a Backend Developer Intern for <a href="https://xurpasenterprise.com/" target="_blank" rel="noopener noreferrer">Xurpas Enterprise</a> and helped developed backend solutions for the Pasig City Scholarship Website.</li>
    </ul>
    
    <h2>Education</h2>
    <p>
        <strong>Far Eastern University Diliman</strong> - Bachelor of Science in Information Technology, Specialization in Animation and Game Development
    </p>
    
    <h2>Skills</h2>
    <div class="skills">
        <h3>Languages:</h3>
        <div class="skills__section">
            <div class="skill">
                <img class="skills__img" title="TypeScript" width="46" height="46" alt="TypeScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg"/>
                <p>TypeScript</p>
            </div>
            <div class="skill">
                <img class="skills__img" title="JavaScript" width="46" height="46" alt="JavaScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg"/>
                <p>JavaScript</p>
            </div>
            <div class="skill">
                <img class="skills__img" title="Python" width="46" height="46" alt="Python" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg"/>
                <p>Python</p>
            </div>
            <div class="skill">
                <img class="skills__img" title="CSS3" width="46" height="46" alt="CSS3" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg"/>
                <p>CSS3</p>
            </div>
            <div class="skill">
                <img class="skills__img" title="HTML5" width="46" height="46" alt="HTML5" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg"/>
                <p>HTML5</p>
            </div>
            <div class="skill">
                <img class="skills__img" title="Java" width="46" height="46" alt="Java" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg"/>
                <p>Java</p>
            </div>
        </div>
        
        <h3>Frameworks:</h3>
        <div class="skills__section">
            <div class="skill">
                <img class="skills__img" title="NextJS" width="46" height="46" alt="NextJS" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nextjs/nextjs-original.svg"/>
                <p>NextJS</p>
            </div>
            <div class="skill">
                <img class="skills__img" title="ReactJS" width="46" height="46" alt="ReactJS" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg"/>
                <p>ReactJS</p>
            </div>
            <div class="skill">
                <img class="skills__img" title="VueJS" width="46" height="46" alt="VueJS" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vuejs/vuejs-original.svg"/>
                <p>VueJS</p>
            </div>
            <div class="skill">
                <img class="skills__img" title="TailwindCSS" width="46" height="46" alt="TailwindCSS" src="https://raw.githubusercontent.com/devicons/devicon/v2.16.0/icons/tailwindcss/tailwindcss-original.svg"/>
                <p>TailwindCSS</p>
            </div>
            <div class="skill">
                <img class="skills__img" title="Astro" width="46" height="46" alt="Astro" src="https://astro.build/assets/press/astro-icon-light.svg"/>
                <p>Astro</p>
            </div>
            <div class="skill">
                <img class="skills__img" title="jQuery" width="46" height="46" alt="jQuery" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/jquery/jquery-original.svg"/>
                <p>jQuery</p>
            </div>
            <div class="skill">
                <img class="skills__img" title="NodeJS" width="46" height="46" alt="NodeJS" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg"/>
                <p>NodeJS</p>
            </div>
        </div>

        <h3>Databases and Storage:</h3>
        <div class="skills__section">
            <div class="skill">
                <img class="skills__img" title="PostgreSQL" width="46" height="46" alt="PostgreSQL" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original.svg"/>
                <p>PostgreSQL</p>
            </div>
            <div class="skill">
                <img class="skills__img" title="MariaDB" width="46" height="46" alt="MariaDB" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mariadb/mariadb-original.svg"/>
                <p>MariaDB</p>
            </div>
            <div class="skill">
                <img class="skills__img" title="MongoDB" width="46" height="46" alt="MongoDB" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mongodb/mongodb-original.svg"/>
                <p>MongoDB</p>
            </div>
            <div class="skill">
                <img class="skills__img" title="Redis" width="46" height="46" alt="Redis" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/redis/redis-original.svg"/>
                <p>Redis</p>
            </div>
        </div>
        
        <h3>Version Control and Collaboration:</h3>
        <div class="skills__section">
            <div class="skill">
                <img class="skills__img" title="Git" width="46" height="46" alt="Git" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg"/>
                <p>Git</p>
            </div>
            <div class="skill">
                <img class="skills__img" title="GitLab" width="46" height="46" alt="GitLab" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/gitlab/gitlab-original.svg"/>
                <p>GitLab</p>
            </div>
            <div class="skill">
                <img class="skills__img" title="GitHub" width="46" height="46" alt="GitHub" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"/>
                <p>GitHub</p>
            </div>
        </div>
        
        <h3>Operating Systems:</h3>
        <div class="skills__section">
            <div class="skill">
                <img class="skills__img" title="Kali Linux" width="46" height="46" alt="Kali Linux" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/debian/debian-original.svg"/>
                <p>Kali Linux</p>
            </div>
            <div class="skill">
                <img class="skills__img" title="Linux" width="46" height="46" alt="Linux" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linux/linux-original.svg"/>
                <p>Linux</p>
            </div>
            <div class="skill">
                <img class="skills__img" title="Windows" width="46" height="46" alt="Windows" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/windows8/windows8-original.svg"/>
                <p>Windows</p>
            </div>
        </div>

        <h3>Other Tools and Platforms:</h3>
        <div class="skills__section">
            <div class="skill">
                <img class="skills__img" title="Docker" width="46" height="46" alt="Docker" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-original.svg"/>
                <p>Docker</p>
            </div>
        </div>
    </div>
</Layout>
